#Grocery Store Data Analysis

##Import libraries

In [1]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

##Data Import and Data preporation

In [7]:
data = pd.read_csv("../content/sample_data/GroceryStoreDataSet.csv")

Each row of data indicates a set of product that bought by the customers

In [8]:
data

                MILK,BREAD,BISCUIT
0    BREAD,MILK,BISCUIT,CORNFLAKES
1              BREAD,TEA,BOURNVITA
2             JAM,MAGGI,BREAD,MILK
3                MAGGI,TEA,BISCUIT
4              BREAD,TEA,BOURNVITA
5             MAGGI,TEA,CORNFLAKES
6          MAGGI,BREAD,TEA,BISCUIT
7              JAM,MAGGI,BREAD,TEA
8                       BREAD,MILK
9   COFFEE,COCK,BISCUIT,CORNFLAKES
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11          COFFEE,SUGER,BOURNVITA
12               BREAD,COFFEE,COCK
13             BREAD,SUGER,BISCUIT
14         COFFEE,SUGER,CORNFLAKES
15           BREAD,SUGER,BOURNVITA
16              BREAD,COFFEE,SUGER
17              BREAD,COFFEE,SUGER
18      TEA,MILK,COFFEE,CORNFLAKES

In [9]:
df = list(data["MILK,BREAD,BISCUIT"].apply(lambda x:x.split(','))) # Dataset converted into a list for further operations
df

[['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [10]:
te = TransactionEncoder()
te_data = te.fit(df).transform(df)
df = pd.DataFrame(te_data,columns=te.columns_)# Assigned each product in all baskets on the list as column names.
# Items in basket are set true, non-items are set to false
df = df.replace(True,1) # True values are replaced with 1 and false with 0.
df = df.astype(int)
df

    BISCUIT  BOURNVITA  BREAD  COCK  COFFEE  ...  JAM  MAGGI  MILK  SUGER  TEA
0         1          0      1     0       0  ...    0      0     1      0    0
1         0          1      1     0       0  ...    0      0     0      0    1
2         0          0      1     0       0  ...    1      1     1      0    0
3         1          0      0     0       0  ...    0      1     0      0    1
4         0          1      1     0       0  ...    0      0     0      0    1
5         0          0      0     0       0  ...    0      1     0      0    1
6         1          0      1     0       0  ...    0      1     0      0    1
7         0          0      1     0       0  ...    1      1     0      0    1
8         0          0      1     0       0  ...    0      0     1      0    0
9         1          0      0     1       1  ...    0      0     0      0    0
10        1          0      0     1       1  ...    0      0     0      0    0
11        0          1      0     0       1  ...    0      0     0      1    0
12        0          0      1     1       1  ...    0      0     0      0    0
13        1          0      1     0       0  ...    0      0     0      1    0
14        0          0      0     0       1  ...    0      0     0      1    0
15        0          1      1     0       0  ...    0      0     0      1    0
16        0          0      1     0       1  ...    0      0     0      1    0
17        0          0      1     0       1  ...    0      0     0      1    0
18        0          0      0     0       1  ...    0      0     1      0    1

[19 rows x 11 columns]

After the transformation process, we can observe that each row represents a basket and if a product is in that basket, it is set as 1. If it is not in the basket, it is set as 0.

##Data Analysis

In [12]:
freq_items = apriori(df,min_support=0.10,use_colnames=True) # Support Values

In [13]:
freq_items.sort_values(by = "support" , ascending = False) # Sorting from highest to lowest

     support                             itemsets
2   0.631579                              (BREAD)
4   0.421053                             (COFFEE)
10  0.368421                                (TEA)
0   0.315789                            (BISCUIT)
5   0.315789                         (CORNFLAKES)
9   0.315789                              (SUGER)
7   0.263158                              (MAGGI)
24  0.210526                       (BREAD, SUGER)
25  0.210526                         (BREAD, TEA)
28  0.210526                 (COFFEE, CORNFLAKES)
8   0.210526                               (MILK)
29  0.210526                      (COFFEE, SUGER)
33  0.210526                         (TEA, MAGGI)
1   0.210526                          (BOURNVITA)
20  0.157895                      (BREAD, COFFEE)
26  0.157895                       (COFFEE, COCK)
23  0.157895                        (BREAD, MILK)
22  0.157895                       (BREAD, MAGGI)
3   0.157895                               (COCK)
17  0.157895                   (BOURNVITA, BREAD)
14  0.157895                (BISCUIT, CORNFLAKES)
11  0.157895                     (BISCUIT, BREAD)
18  0.105263                   (BOURNVITA, SUGER)
42  0.105263           (COFFEE, CORNFLAKES, COCK)
41  0.105263                  (BREAD, MAGGI, TEA)
40  0.105263                  (MAGGI, BREAD, JAM)
39  0.105263               (BREAD, COFFEE, SUGER)
38  0.105263              (TEA, BOURNVITA, BREAD)
37  0.105263                (BISCUIT, TEA, MAGGI)
36  0.105263        (BISCUIT, COFFEE, CORNFLAKES)
35  0.105263          (BISCUIT, CORNFLAKES, COCK)
34  0.105263              (BISCUIT, COFFEE, COCK)
31  0.105263                    (TEA, CORNFLAKES)
32  0.105263                         (MAGGI, JAM)
19  0.105263                     (BOURNVITA, TEA)
30  0.105263                   (MILK, CORNFLAKES)
6   0.105263                                (JAM)
27  0.105263                   (CORNFLAKES, COCK)
12  0.105263                      (BISCUIT, COCK)
13  0.105263                    (BISCUIT, COFFEE)
15  0.105263                     (BISCUIT, MAGGI)
16  0.105263                       (BISCUIT, TEA)
21  0.105263                         (BREAD, JAM)
43  0.105263  (BISCUIT, COFFEE, CORNFLAKES, COCK)

Support metric refers to the frequency(probability) of occurrence of products in baskets singular or in combination.
Product variety and brand diversity can be increased for products with high frequency of being seen singular or as a combination.
In this dataset, bread can be given as an example. Bread is observed in 65% of all shopping. In this case, bread variety can be increased (rye, whole wheat, buckwheat, etc.) and more buyers can be targeted by increasing the number of brands. (Row 2)
By doing so, companies can increase customer satisfaction

In [15]:
df1 = association_rules(freq_items, metric = "confidence", min_threshold = 0.02)

In [16]:
df1.sort_values(by = "lift", ascending = False) # Sorting from highest to lowest with respect to lift

                       antecedents         consequents  ...  leverage  conviction
109             (CORNFLAKES, COCK)   (BISCUIT, COFFEE)  ...  0.094183         inf
104              (BISCUIT, COFFEE)  (CORNFLAKES, COCK)  ...  0.094183         inf
46               (BISCUIT, COFFEE)              (COCK)  ...  0.088643         inf
100  (BISCUIT, COFFEE, CORNFLAKES)              (COCK)  ...  0.088643         inf
87                           (JAM)      (MAGGI, BREAD)  ...  0.088643         inf
..                             ...                 ...  ...       ...         ...
91                         (BREAD)        (MAGGI, TEA)  ... -0.027701    0.947368
4                        (BISCUIT)            (COFFEE)  ... -0.027701    0.868421
79                         (BREAD)     (COFFEE, SUGER)  ... -0.027701    0.947368
19                        (COFFEE)             (BREAD)  ... -0.108033    0.589474
18                         (BREAD)            (COFFEE)  ... -0.108033    0.771930

[114 rows x 9 columns]

Lift indicates whether if two bundle of products can be sold together (lift value higher than 1), be substitute of each other (lift value lower than 1) or if there is no relation between the bundles (lift value equals to 1).

In [17]:
df1.sort_values(by = "confidence", ascending = False) # Sorting from highest to lowest with respect to confidence

           antecedents       consequents  ...  leverage  conviction
54  (CORNFLAKES, COCK)         (BISCUIT)  ...  0.072022         inf
53     (BISCUIT, COCK)      (CORNFLAKES)  ...  0.072022         inf
31              (COCK)          (COFFEE)  ...  0.091413         inf
43               (JAM)           (MAGGI)  ...  0.077562         inf
83        (MAGGI, JAM)           (BREAD)  ...  0.038781         inf
..                 ...               ...  ...       ...         ...
91             (BREAD)      (MAGGI, TEA)  ... -0.027701    0.947368
75             (BREAD)  (BOURNVITA, TEA)  ...  0.038781    1.073684
86             (BREAD)      (MAGGI, JAM)  ...  0.038781    1.073684
79             (BREAD)   (COFFEE, SUGER)  ... -0.027701    0.947368
20             (BREAD)             (JAM)  ...  0.038781    1.073684

[114 rows x 9 columns]

Confidence indicates a conditional probability.It indicates a chance of bought of a consequent product if the antecedent product is already bought.
In this case, probability of jam is bought in case a bread is already bought is 16.66% (Row 21)
Bundle of products with high confidence level can be stored in close sections in the market

In [18]:
df1[(df1.confidence > 0.8) & (df1.lift > 1)].sort_values(by="lift", ascending=False)

                       antecedents           consequents  ...  leverage  conviction
109             (CORNFLAKES, COCK)     (BISCUIT, COFFEE)  ...  0.094183         inf
104              (BISCUIT, COFFEE)    (CORNFLAKES, COCK)  ...  0.094183         inf
46               (BISCUIT, COFFEE)                (COCK)  ...  0.088643         inf
100  (BISCUIT, COFFEE, CORNFLAKES)                (COCK)  ...  0.088643         inf
87                           (JAM)        (MAGGI, BREAD)  ...  0.088643         inf
106                (BISCUIT, COCK)  (COFFEE, CORNFLAKES)  ...  0.083102         inf
43                           (JAM)               (MAGGI)  ...  0.077562         inf
84                    (BREAD, JAM)               (MAGGI)  ...  0.077562         inf
64                  (BISCUIT, TEA)               (MAGGI)  ...  0.077562         inf
101        (BISCUIT, COFFEE, COCK)          (CORNFLAKES)  ...  0.072022         inf
103     (COFFEE, CORNFLAKES, COCK)             (BISCUIT)  ...  0.072022         inf
58               (BISCUIT, COFFEE)          (CORNFLAKES)  ...  0.072022         inf
54              (CORNFLAKES, COCK)             (BISCUIT)  ...  0.072022         inf
53                 (BISCUIT, COCK)          (CORNFLAKES)  ...  0.072022         inf
65                (BISCUIT, MAGGI)                 (TEA)  ...  0.066482         inf
31                          (COCK)              (COFFEE)  ...  0.091413         inf
96              (CORNFLAKES, COCK)              (COFFEE)  ...  0.060942         inf
47                 (BISCUIT, COCK)              (COFFEE)  ...  0.060942         inf
102    (BISCUIT, CORNFLAKES, COCK)              (COFFEE)  ...  0.060942         inf
21                           (JAM)               (BREAD)  ...  0.038781         inf
70                (BOURNVITA, TEA)               (BREAD)  ...  0.038781         inf
83                    (MAGGI, JAM)               (BREAD)  ...  0.038781         inf

[22 rows x 9 columns]

Those above are the top sellers of the market. In order to increase income, those items can be combined with products with lower support values and special discounts can be given for those combinations. By doing so, the frequency of occurrence in the basket for products that have a lower support levels can be increased.